.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.content-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

