<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    hasBackdrop="true">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list routerLinkActive>
      <h1 matSubheader>Moje konto</h1>
      <mat-list-item routerLinkActive>
        <a href="navbar">
          <mat-icon class="mat-icon" style="margin: 0 10px 0 0">
            account_circle
          </mat-icon>
          Mój profil
        </a>
      </mat-list-item>
      <h1 matSubheader>Kursy</h1>
      <mat-list-item routerLinkActive="active">
        <a [routerLink]="['/u', loggedUserId, 'courses']">
          Moje kursy
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="hasUserAccess()" routerLinkActive="active">
        <a routerLink="/courses" >
          Wyszukaj kursy
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="hasInstructorAccess()" routerLinkActive="active">
        <a routerLink="/courses/add">
          Dodaj kurs
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="hasInstructorAccess()" routerLinkActive="active">
        <a routerLink="/i/add-user">
          Dodaj użytkowniaka do kursu
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="hasUserAccess()" routerLinkActive="active">
        <a routerLink="/u/presences">
          Zarządzanie obecnościami
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="hasInstructorAccess()" routerLinkActive="active">
        <a routerLink="/i/users-list">
          Lista użytkowników
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="hasInstructorAccess()" routerLinkActive="active">
        <a routerLink="/i/course-active-presences">
          Obecnie aktywowane obecności
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="hasInstructorAccess()" routerLinkActive="active">
        <a routerLink="/courses/edit">
          Edytuj kurs
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>FrontAngular</span>
      <span *ngIf="(choosedCourse | async) as course; else noCourse">
        Zalogowany w kursie: {{ course.name }}
      </span>
      <ng-template #noCourse>
        <span>
          Nie wybrałeś kursu
        </span>
      </ng-template>
    </mat-toolbar>
    <div class="content-flex-container">
      <app-alerts></app-alerts>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
