// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.form-errors {
  color: red;
  padding: 0 20px;
}

.form-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.vertical-align {
  & * {

    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  }
}
