<ion-header>
    <!--<ion-nav>-->
    <!--<ion-button menuToggle>-->
    <!--<ion-icon name="menu"></ion-icon>-->
    <!--</ion-button>-->
    <!--<ion-title>Home</ion-title>-->
    <!--</ion-nav>-->
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista kursów</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ng-container *ngFor="let course of courses; let i = index">
            <ion-item lines="none">
                <ion-label>Nazwa kursu:  {{course.name}}</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-label>Start:  {{course.startDate | date:'mediumDate' }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Koniec:
                    {{course.endDate | date:'mediumDate'}}</ion-label>
                <ion-button slot="end" (click)="openSignInModal(course)">Dołącz</ion-button>
            </ion-item>
        </ng-container>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>