<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista kursów</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let course of courses">
            <div class="item-content">
                <div class="courseName">{{course.name}}</div>
                <div class="date">
                    <span>{{course.startDate | date: 'dd/MM/yyyy'}}</span> -
                    <span>{{course.endDate | date: 'dd/MM/yyyy'}}</span>
                </div>
                <ion-button slot="end" (click)="signIn(course)" [expand]="'full'">Zaloguj się!</ion-button>
            </div>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="getCourses()">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Ładowanie następnych kursów">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
