<div class="flex-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="error">
    <div class="example-rate-limit-reached">
      W tym momencie nie ma aktywnych obecności
    </div>
  </div>

  <div class="example-table-container">
    <table mat-table [dataSource]="activePresences?.presentUsers" class="example-table"
           matSort matSortActive="email" matSortDisableClear matSortDirection="asc"
    >
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row ">
          {{ row.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Imię</th>
        <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwisko</th>
        <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="action-header-cell">Usuń</th>
        <td mat-cell *matCellDef="let row " (click)="endPresence(activePresences, row._id)">
          <button mat-button color="danger" class="table-button">Usuń</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

    </table>
  </div>

</div>
