<div class="container">
  <mat-list class="course-days">
    <mat-list-item class="course-days-item">
      <span class="course-days-email">Email</span>
      <span class="course-days-firstName">Imię </span>
      <span class="course-days-lastName">Nazwisko</span>
      <span class="course-days-startTime">Czas ropoczęcia</span>
      <span class="course-days-stopButton">Zatrzymaj</span>
    </mat-list-item>
    <mat-list-item *ngFor="let presence of activePresences" class="course-days-item">
      <span class="course-days-email">{{ presence.user.email }}</span>
      <span class="course-days-firstName">{{ presence.user.firstName }}</span>
      <span class="course-days-lastName">{{ presence.user.lastName}}</span>
      <span class="course-days-startTime">{{ presence.startTime | date:'shortTime' }}</span>
      <button mat-button color="primary" class="course-days-stopButton" (click)="endPresence(presence)">Zatrzymaj</button>
    </mat-list-item>
    <div *ngIf="activePresences && activePresences.length === 0" class="flex-container">
      Nie ma obecnie aktywnych obecności
    </div>
  </mat-list>
</div>
