.example-table-container {
  position: relative;
  overflow: auto;
  min-width: 700px;
}

.table-button {
  width: 100%;
}

.action-header-cell {
  text-align: center;
  max-width: 100px;
  box-sizing: border-box;
}

table {
  width: 100%;
}
