<div class="u-main-container toggle-presence">
  <div *ngIf="(activePresence$ | async) as presence; else disactive" class="presence-active">
    <div>
      Jesteś obecny na kursie od {{presence.startTime | date:'shortTime'}} do {{presence.endTime | date:'shortTime'}} w dniu {{presence.startTime | date: 'shortDate'}}
    </div>
  </div>
  <ng-template class="presence-active" #disactive>
    <div>Obecnie obecność nie jest aktywowana</div>
    <a mat-button class="btn-start" (click)="startPresence()">Rozpocznij</a>
  </ng-template>
</div>


