<div class="toggle-presence">
  <div *ngIf="!activePresence" class="presence-active">
      <div>Obecnie obecność nie jest aktywowana</div>
      <a mat-button class="btn-start" (click)="startPresence()">Rozpocznij</a>
  </div>
  <div *ngIf="activePresence" class="center-text">
    Jesteś obecny na kursie od <strong>{{activePresence.startTime | date:'shortTime'}} </strong> do
    <strong>{{activePresence.endTime | date:'shortTime'}}</strong>
    w dniu <strong>{{activePresence.startTime | date: 'shortDate'}}</strong>
  </div>
</div>

