<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Obecność
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="fullscreen-container">
        <h1 *ngIf="(activePresence$ | async) as presence; else disactive">
            Jesteś obecny na zajęciach od {{presence.startTime | date:'dd/MM/yyyy HH:mm'}}
            do {{presence.endTime | date:'dd/MM/yyyy HH:mm'}}
        </h1>
        <ng-template class="presence-active" #disactive>
                <h1 style="padding-bottom: 10px">Nie aktywowano jeszcze obecności</h1>
                <ion-button [expand]="'full'"  style="width: 100%" (click)="startPresence()">Rozpocznij</ion-button>
        </ng-template>
    </div>
</ion-content>




