<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Obecność
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <div *ngIf="(activePresence$ | async) as presence; else disactive">
            Jesteś obecny na zajęciach
        </div>
        <ng-template class="presence-active" #disactive>
            <div>Obecnie obecność nie jest aktywowana</div>
            <ion-button (click)="startPresence()">Rozpocznij</ion-button>
        </ng-template>
    </ion-item>
</ion-content>




